<div id="layoutAuthentication" class="bg-primary">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container-xl px-4">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <form [formGroup]="form" (submit)="save()">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header justify-content-center"><h3 class="fw-light my-4">Login</h3></div>
                <div class="card-body">
                    <div class="mb-3">
                      <label class="small mb-1" for="phone">Phone</label>
                      <input class="form-control" id="phone" formControlName="phone" type="tel" placeholder="Phone Number" />
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="password">Password</label>
                      <input class="form-control" id="password" formControlName="password" type="password" placeholder="Enter password" />
                    </div>
                    <div class="mb-3">
                      <div class="form-check">
                        <input class="form-check-input" id="rememberPasswordCheck" type="checkbox" value="" />
                        <label class="form-check-label" for="rememberPasswordCheck">Remember password</label>
                      </div>
                    </div>
                    <!-- Form Group (login box)-->
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                      <a class="small" href="auth-password-basic.html">Forgot Password?</a>
                      <button [disabled]="loading" type="submit" class="btn btn-primary" href="dashboard-1.html">
                        <app-btn-loader *ngIf="loading"></app-btn-loader>
                        <ng-container *ngIf="!loading">Login</ng-container>
                      </button>
                    </div>
                </div>
                <div class="card-footer text-center">
                  <div class="small"><a href="auth-register-basic.html">Need an account? Sign up!</a></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutAuthentication_footer">
    <footer class="footer-admin mt-auto footer-dark">
      <div class="container-xl px-4">
        <div class="row">
          <div class="col-md-6 small">Copyright © Your Website 2021</div>
          <div class="col-md-6 text-md-end small">
            <a href="#!">Privacy Policy</a>
            ·
            <a href="#!">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
