<app-panel-header icon="layer-group" title="Product Categories" description="Manage product sub categories."></app-panel-header>
<div class="container px-4">
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="card mt-n10">
        <div class="card-header">
          Sub Category
          <a routerLink="create" class="btn btn-primary btn-sm float-end">Create <i class="fa-solid fa-plus ms-2"></i></a>
        </div>
        <div class="card-body">
          <table id="myDataTable" class="table table-responsive table-striped" style="width:100%">
            <thead>
            <tr>
              <th>Sub Category</th>
              <th>Created On</th>
              <th>Action</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
